---
apiVersion: ran.openshift.io/v1
kind: PolicyGenTemplate
metadata:
  name: "networks"
  namespace: "ztp-group"
spec:
  bindingRules:
    sites: "n95"
  remediationAction: inform
  sourceFiles:
    - fileName: metallb/bfdProfile.yaml
      policyName: "config-metallb"
    - fileName: metallb/bgpPeer.yaml
      policyName: "config-metallb"
      metadata:
        name: green
      spec:
        peerAddress: 11.11.11.254
        peerASN: 8002
        myASN: 7003
        nodeSelectors:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - m0.5gc.eric.vlab
                  - m1.5gc.eric.vlab
                  - m2.5gc.eric.vlab
    - fileName: metallb/community.yaml
      policyName: "config-metallb"
      metadata:
        name: green
      spec:
        communities:
          - name: greenc
            value: '7003:008'
    - fileName: metallb/ipAddressPool.yaml
      policyName: "config-metallb"
      metadata:
        name: green
      spec:
        autoAssign: false
        addresses:
          - 5.8.6.1/32
          - 5.8.6.9/32
    - fileName: metallb/bgpAdvertisement.yaml
      policyName: "config-metallb"
      metadata:
        name: green
      spec:
        communities:
          - greenc
        ipAddressPools:
          - green
        peers:
          - green
    - fileName: raw/addGreenStaticRoutes.yaml
      policyName: "config-static-routes"
    # RED
    - fileName: raw/addRedNet.yaml
      policyName: "config-red-nmstate"
    - fileName: "GenericConfigMap.yaml"
      policyName: "config-bgp-learning"
      metadata:
        name: enable-red-bgp-learning
        namespace: metallb-system
        annotations:
          ran.openshift.io/ztp-deploy-wave: "10"
      data:
        extra: |
          route-map 12.12.12.254-in permit 20
    - fileName: metallb/bgpPeer.yaml
      policyName: "config-metallb-red"
      metadata:
        name: red
      spec:
        peerAddress: 12.12.12.254
        peerASN: 8012
        myASN: 7003
        nodeSelectors:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - w0.5gc.eric.vlab
    - fileName: metallb/ipAddressPool.yaml
      policyName: "config-metallb-red"
      metadata:
        name: red
      spec:
        autoAssign: false
        addresses:
          - 6.6.6.1/32
          - 6.6.6.9/32
    - fileName: metallb/bgpAdvertisement.yaml
      policyName: "config-metallb-red"
      metadata:
        name: red
      spec:
        ipAddressPools:
          - red
        peers:
          - red
