---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generators:
  - common.yaml
  - labels.yaml
  - group-ht.yaml
  - group-n95.yaml
  - day-2-operations.yaml
  - post.yaml
resources:
  - resources/ns.yaml
