---
run-name: ztp-compact-${{ github.ref_name }}-${{ github.event_name }}
name: ztp-compact
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - dev
      - main
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch:
jobs:
  stage0:
    name: ZTP E2E
    runs-on: [self-hosted]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Clean Virtual Infra
        run: |
          ./sinfra --clean -auto-timeout 0s --continue-on-error
      - name: Setup Virtual Infra -  ${{ runner.name }}
        run: |
          echo '${{ secrets.PULL_SECRET }}' > .pull-secret.json
          echo '${{ secrets.WG_AUTH }}' > .wg-auth
          ./sinfra --setupInfra -auto-timeout 0s
          virsh dumpxml 5gc-w0|grep emulator
      - name: Deploy SNO using agent-based - OCP 4.13.17 / gitops latest
        timeout-minutes: 40
        run: |
          podman exec workstation bash -c '
            curl https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.13.9/openshift-client-linux-4.13.17.tar.gz -o openshift-install-linux.tar.gz
            tar xvfz openshift-install-linux.tar.gz
            mv openshift-install /usr/bin/
            chmod +x /usr/bin/openshift-install

            ./deploy-ocp.sh hub

            export KUBECONFIG=/share/hub/auth/kubeconfig
            openshift-install agent wait-for install-complete --log-level info --dir /share/hub
            oc get clusterversion && oc get co && oc get ns openshift-gitops
          '
          echo "wget http://10.0.0.1:9000/hub/auth/kubeconfig -O ~/.kube/hub.yaml"
          echo "curl -s http://10.0.0.1:9000/hub/auth/kubeadmin-\password | xsel --input --clipboard"
      - name: Install ACM / LVM / TALM using gitops - release-2.8 / stable-4.13 / stable
        timeout-minutes: 10
        run: |
          podman exec workstation bash -c '
            oc apply -f hub/hub-provision-argoapp.yaml
          '
      - name: Install ZTP - point to  ${{ github.sha }}
        run: |
          podman exec workstation bash -c '
            BRANCH=${{ github.sha }} PULL_SECRET_PATH=.pull-secret.json ./hub/install-ztp.sh
          '
      - name: Wait HUB to be ready - OCP 4.13.13
        run: |
          podman exec workstation bash -c '
            sleep 240
            until oc get MultiClusterHub 2>/dev/null; do sleep 30; done
            until oc get LVMCluster 2>/dev/null; do sleep 30; done
            until oc -n openshift-storage get lvmcluster 2>/dev/null; do sleep 30; done
            oc -n openshift-storage wait lvmcluster lvmcluster --for=jsonpath='{.status.state}'=Ready --timeout=1200s
            oc -n open-cluster-management wait MultiClusterHub multiclusterhub --for=jsonpath='{.status.phase}'=Running --timeout=1200s
          '
      - name: Review argocd sync
        run: |
          podman exec workstation bash -c '
            pass=$(oc get secret -n openshift-gitops openshift-gitops-cluster -o jsonpath="{.data.admin\.password}" |base64 -d)
            argocd login openshift-gitops-server-openshift-gitops.apps.hub.eric.vlab --username admin --insecure --password $pass
            argocd app list
            argocd app get hub-provision
            argocd app get clusters
            argocd app get policies
          '
      - name: Enable autosecrets hack
        run: |
          echo '${{ secrets.BMH_SECRET }}' > bmh-secret.yaml
          podman exec workstation bash -c '
            oc apply -f bmh-secret.yaml
            oc apply -k github.com/karampok/autosecret/config/default
            echo "https://openshift-gitops-server-openshift-gitops.apps.hub.eric.vlab/"
          '
      - name: Wait Siteconfig
        timeout-minutes: 90
        run: |
          podman exec workstation bash -c '
            sleep 1200
            timeout 540 ./bin/watch-ztp 5gc
            oc -n 5gc wait clusterdeployment 5gc --for=condition=Provisioned --timeout=5400s
          '
      - name: Access spoke cluster
        run: |
          podman exec workstation bash -c '
            oc extract secret/5gc-admin-kubeconfig --to=- -n 5gc > /tmp/spoke.yaml
            export KUBECONFIG=/tmp/spoke.yaml
            oc get clusterversion
            oc get nodes
            oc get operators
          '
      - name: Wait Policies
        timeout-minutes: 90
        run: |
          podman exec workstation bash -c '
            sleep 600
            oc get cgu -A
            timeout 540 oc -n 5gc get policies -w || echo ""
            KUBECONFIG=/tmp/zpoke.yaml oc -n openshift-sriov-network-operator delete pod --all
            oc get policies -A
            oc -n ztp-install wait cgu 5gc --for=condition=Succeeded --timeout=5400s
            oc -n 5gc get policies
          '
      - name: Test spoke cluster
        run: |
          podman exec workstation bash -c '
            oc extract secret/5gc-admin-kubeconfig --to=- -n 5gc > /tmp/spoke.yaml
            export KUBECONFIG=/tmp/spoke.yaml

            oc apply -f dayX/dpdk-pod.yaml
            oc apply -f dayX/icmp-frag-case.yaml

            oc wait --for=condition=ready pod dpdk --timeout=320s
            oc wait --for=condition=ready pod -l app=bigfile --timeout=320s

            sleep 30

            oc logs dpdk
            oc get svc
          '
          podman exec green bash -c '
            wget --timeout=1 --tries=5  5.8.6.9:9000/big.iso
            wget --timeout=1 --tries=5  5.8.6.1:9000/big.iso
          '

# To add github action runner
# https://github.com/karampok/telco-ocp-lab/settings/actions/runners/new
#  mkdir actions-runner && cd actions-runner
#  curl -o actions-runner-linux-x64-2.309.0.tar.gz -L https://github.com/actions/runner/releases/download/v2.309.0/actions-runner-linux-x64-2.309.0.tar.gz
#  tar xzf ./actions-runner-linux-x64-2.309.0.tar.gz
#  ./bin/installdependencies.sh
#  export RUNNER_ALLOW_RUNASROOT=1
#  ./config.sh --url https://github.com/karampok/telco-ocp-lab --token XXXX
#  dnf install tmux
#  tmux new-session -d ./run.sh
